/* Fonts */
@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url("../font/Roboto-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Lobster;
	src: url("../font/Lobster-Regular.ttf");
	font-weight: normal;
}
/* Fonts end */

/* Media */
/* @media  (min-width: @screen-md-min) {
    .audio-list-block.table-responsive {
    overflow-x: hidden !important;
  }
} */
/* Media end */

/* Common */
body {
	font-family: 'Roboto';
}

.sticky-offset {
	top: 5vh
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.btn {
	background-color: #f3da00;
	border-radius: 0;
	font-weight: bold;
}

.btn:hover {
	background-color: #b4a200;
	color: #ffffff;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.form-control {
	color: #ffffff !important;
	background-color: #1a1a1a !important;
	border-color: #636363;
	border-radius: 0;
}

.form-control:focus, .form-control:active {
	background-color: #1a1a1a;
	border-color: #f3da00;
	outline: none !important;
	box-shadow: none !important;
}

.form-control-file {
	color: #ffffff !important;
	background-color: #1a1a1a !important;
	border-color: #636363;
	border-radius: 0;
}

.form-control-file:focus, .form-control-file:active {
	background-color: #1a1a1a;
	border-color: #f3da00;
	outline: none !important;
	box-shadow: none !important;
}

input[type=file] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-file {
	height: inherit;
	background-color: #1a1a1a !important;
	border: 1px solid #636363;
}

.custom-file:focus, .custom-file:active {
	border-color: #f3da00 !important;
}

.custom-file.is-invalid {
	border-color: #dc3545;
}

.custom-file.is-valid {
	border-color: #28a745;
}

.invalid-feedback {
	font-family: inherit;
	font-weight: normal;
	font-size: 12px;
}

tr {
	border: 0 !important;
	background-color: #272727;
	border-color: #636363;
}

th+th, td+td {
	border-right: 1px solid #636363;
}
/* Common end */

/* Navbar toggler */
.navbar-toggler {
	border-color: #f3da00;
}

.navbar-toggler:hover {
	background-color: #1a1a1a;
}

.navbar-toggler .fas {
	color: #f3da00;
}
/* Navbar toggler end */

/* Navbar */
.navbar-toggler:focus, .navbar-toggler:active {
	outline: none !important;
	box-shadow: none !important;
}

.navbar {
	background-color: #2b2b2b;
	color: #ffffff;
	padding: 0;
}

.navbar .navbar-brand {
	font-family: 'Lobster';
	font-weight: normal;
	font-size: 24px;
}

.navbar .navbar-brand a {
	color: #f3da00;
	text-decoration: none;
}

.navbar .navbar-brand a:hover {
	color: #f3da00;
}

.navbar .navbar-brand .logo-img {
	vertical-align: middle;
}

.navbar .sidebar-toggle-btn.btn .fas {
	margin-left: 0.2rem;
	margin-top: 0.6rem;
	text-align: center;
}

.navbar .sidebar-toggle-btn.btn {
	margin: 5px;
	width: 3rem;
	height: 3rem;
	color: #000000;
	border-radius: 1.5rem;
}

.navbar .sidebar-toggle-btn.btn:hover {
	background-color: #b4a200;
	color: #ffffff;
}

.navbar .form-control {
	width: 50vw;
}

.navbar .search-btn {
	background-color: #f3da00;
}

.navbar .search-btn:hover {
	color: #ffffff;
	background-color: #b4a200;
}

.navbar .search-btn .fas {
	margin-left: 5px;
}

.search-request {
	font-size: 20px;
	font-style: italic;
}

.search-request-text {
	color: #f3da00;
}
/* Navbar end */

/* Sidebar */
.sidebar-container {
	background-color: #252525;
	min-height: 100vh;
	padding: 0;
	z-index: 100;
}

.sidebar-container.sidebar-hidden {
	display: none;
	opacity: 0;
}

.sidebar-container .nav-item {
	padding: 0;
	font-family: 'Roboto';
	font-style: bold;
	text-align: center;
	font-size: 20px;
	color: #f3da00ff;
}

.sidebar-container .list-group-item {
	background-color: inherit;
	color: #ffffff;
	font-size: 20px;
	text-align: left;
	padding-left: 5vh;
	border: 0;
	border-radius: 0;
}

.sidebar-container .list-group-item:hover {
	background-color: #3a3a3a;
}

.sidebar-container .list-group-item.active {
	color: #000000;
	background-color: #f3da00;
}

.sidebar-container .list-group-item.active:hover {
	color: #ffffff;
	background-color: #b4a200;
}

.sidebar-container .list-group-label {
	color: #aaaaaa;
	font-size: 12px;
	text-align: center;
	margin-top: 2vh;
	padding-bottom: 2vh;
	border-bottom: 1px solid #aaaaaa;
}

.sidebar-container .fab, .fas {
	margin-right: 1vh;
}

.sidebar-container .list-group-account {
	padding: 2vh;
}

.sidebar-container .list-group-account img {
	width: 4rem;
	height: 4rem;
	border: 2px solid #f3da00;
	margin-left: 1vw;
}

.sidebar-container .list-group-account .btn {
	background-color: #f3da00;
	color: #000000;
	margin-top: 2vh;
	width: 100%;
}

.sidebar-container .list-group-account .btn:hover {
	background-color: #b4a200;
	color: #ffffff;
}

.sidebar-container .list-group-account .login {
	font-family: 'Roboto';
	font-size: 24px;
	color: #ffffff;
	/* padding-top: 2vh; */
}

.sidebar-container .role-name {
	color: #aaaaaa;
}
/* Sidebar end */

/* Content */
.content {
	background-color: #1a1a1a;
	color: #ffffff;
	min-height: 100vh;
	/* padding: 0; */
}
/* Content end */

/* Copyright */
.copyright {
	padding: 0.75rem;
	width: 100%;
	text-align: center;
	color: #c2c2c2;
}
/* Copyright end*/

/* About */
.about {
	padding: 0.75rem;
	padding-left: 5vh;
	padding-right: 5vh;
	text-align: center;
	color: #ffffff;
}

.about-item {
	display: block;
}
/* About end */

/*  Base Forms */
.base-form {
	background-color: #252525;
	padding: 1rem;
	border-radius: 2px;
	font-size: 20px;
	font-weight: bold;
}

.base-form-control {
	margin-top: 1rem;
}

.base-form-submits {
	margin-top: 2rem;
}

.base-form-title {
	text-align: center;
	font-family: 'Lobster';
	font-size: 30px;
	color: #f3da00;
	/* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
}

.base-form-note {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-family: 'Lobster';
	color: #f3da00;
	text-align: center;
}

.base-form .btn {
	width: 100%;
}

.base-form .table {
	background-color: inherit !important;
	color: #ffffff;
}

.base-form .table tr {
	background-color: inherit !important;
}
/* Base Forms end */

/* Edit form */
.edit-type {
	color: #aaaaaa;
	font-size: 20px;
}

.edit-target {
	color: #f3da00;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}
/* Edit form end */

/* Audio list */
.audio-list-header {
	padding: 1rem;
}

.audio-list-header .btn {
	height: fit-content;
}

.audio-list-title {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

.audio-list-size {
	color: #c2c2c2;
}

.audio-list-block {
	padding: 0;
}

.audio-list-block.table-responsive {
	border: none !important;
}

.dropdown-menu {
	width: 12em;
	border-radius: 0;
	/* border: 1px solid #f3da00; */
	background-color: #252525;
}

.dropdown-item {
	color: #ffffff;
}

.dropdown-item i {
	float: right;
}

.dropdown-item:hover {
	color: #ffffff;
	background-color: #636363;
}

.audio-list-table {
	text-align: center;
	border-color: #636363;
	color: #ffffff;
}

.audio-list-table.table {
	border: none !important;
}

.audio-list-table.table-striped tr th {
	border-color: #464646;
	border-left: none;
	border-right: none;
}

.audio-list-table.table-striped tr td {
	border: none !important;
}

.audio-list-table .btn {
	color: #000000;
	width: 100%;
}

.audio-list-table .btn:hover {
	color: #ffffff;
}

.audio-list-table .audio-edit-btn {
	margin-left: 0;
	padding-left: 0;
}

.audio-list-table-head {
	color: #c2c2c2;
}

.audio-list-table .badge {
	background-color: #00990d;
	color: #ffffff;
	font-size: 14px;
}

.audio-list-table .badge:hover {
	background-color: #005a08;
	font-size: 14px;
}

.audio-list-table a {
	color: #ffffff;
}

.audio-list-table a:hover {
    color: #c2c2c2;
}

.audio-list-table .emptyRow {
    height: 50px;
}

.audio-list-table .audio-record .playChoosedButton {
    display: none;
    margin-left: 18px !important;
}

.audio-list-table .audio-record .audio-id {
    display: block;
}

.audio-list-table .audio-record:hover .playChoosedButton {
    display: block;
}

.audio-list-table .audio-record:hover .audio-id {
    display: none;
}

.audio-list-table .playChoosedButton:hover {
    color: #00cf11;
}

/* Audio list end */

/* Audio player */
.audio-player {
	color: #ffffff;
	background-color: #2b2b2b;
}

.audio-player-controls {
	margin: 2px;
}

.audio-player-controls .audio-control-btn {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	margin-top: 4px;
}

.audio-player-controls .audio-control-btn:hover {
	color: #00cf11;
}

.audio-player-info {
	margin: 2px;
	margin-left: 10px;
}

.audio-player-info .audio-player-title {
	font-size: 18px;
	font-style: italic;
}

.audio-player-info .audio-player-performer {
	font-size: 12px;
	color: #aaaaaa;
}

.audio-player-time {
	margin: 2px;
	margin-top: 10px;
	margin-right: 20px;
}

.audio-player-time .volume-icon {
	margin-top: 4px;
}

.audio-player-time .volume-range {
	margin-top: 8px;
	width: 40%;
}

.audio-player-time .audio-player-current {
	font-style: italic;
}

.audio-player-time .audio-player-whole {
	font-style: italic;
}

.audio-player-time .delimiter {
	color: #aaaaaa;
	font-weight: bold;
}

.audio-player-timeline {
	height: 8px;
}

.audio-player-timeline .slider {
	position: relative;
	bottom: 8px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 8px;
	background: #1d1d1d;
	outline: none;
	z-index: 0;
	pointer-events: none;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	pointer-events: auto;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	pointer-events: auto;
}
/* Audio player end */

/* Collection Cards */
.collection-cards a:hover {
	background-color: #00cf11;
	border-color: #00cf11;
}

.card {
	background-color: #000;
}

.collection-cards .card {
	position: relative;
	background-color: #000;
	border: 1px solid #000000;
}

.collection-cards .card:hover .overlay {
	display: block;
}

.collection-cards .card .overlay {
	display: none;
	border-radius: inherit;
}

.collection-cards .card .overlay-background {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	border-radius: inherit;
	top: 0;
	left: 0;
}

.collection-cards .card .overlay-info {
	position: absolute;
	background-color: #272727;
	border: 1px solid #636363;
	border-radius: inherit;
	bottom: 2%;
	left: 2%;
	width: 96%;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

.collection-cards .card .overlay-info .overlay-info-title {
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #f3da00;
}

.collection-cards .card .overlay-info .overlay-info-text {
	font-size: 16px;
	text-align: center;
	color: #aaaaaa;
}

/* Collection Cards end*/

/* Author Cards */
.author.card {
	border-radius: 100%;
}

.author.card .overlay .overlay-info {
	border: 0;
	background: none;
	border-radius: 0;
	bottom: 5%;
}
/* Author Cards end */

/* Error */
.error {
	background-color: #252525;
	padding: 1rem;
	border-radius: 2px;
	font-size: 20px;
	font-weight: bold;
}

.error-title {
	text-align: center;
	font-family: 'Lobster';
	font-size: 36px;
	color: #f3da00;
}

.error-note {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	text-align: center;
}

.error .btn {
	width: 100%;
}
/* Error  end */

/* Error message */
.error-message {
	text-align: center;
	color: #ffffff;
	padding: 5px;
	background-color: #dc3545;
	border-radius: 5px;
}
/* Error message end */